# development dependencies
# Sertakan semua dependensi produksi
-r requirements.txt

black==25.1.0
isort==6.0.1
flake8==7.3.0
flake8-black==0.3.6
flake8-docstrings==1.7.0
pytest==7.4.2
pytest-cov==4.1.0 
mypy==1.16.1
pre_commit==4.2.0
pydocstyle==6.3.0